
body{
  background-color: #FFFFE0;
}
.header{  
background-color: #f8d8dc;
}
  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  .column {
    width: 30%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

.top__text{
text-align: center;
font-family: "Playwrite NZ", cursive; 
font-style: normal; 
font-size: 34px;
}
.undertoptext{
  text-align: center;
font-family: "Playwrite NZ", cursive; 
font-style: normal; 
font-size: 14px;
}

.container{


  text-align: left;
font-family: "Playwrite NZ", cursive; 
font-style: normal; 
font-size: 24px;
}

.column{

  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  min-height: 400px;
  border: 10px solid#f8d8dc;
  width: 28%;
  border-radius: 10px;
  box-shadow: black 0 0 16px -6px;
  border-bottom: none;
  background: #E6E6FA;
}

.ToDO__text{
text-align: center;
 box-sizing: border-box;
 width: 100%;
 display: flex;

}

.Add__button{
 width: 65px;
  height: 25px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #E6E6FA;
  cursor: pointer;
  padding: 5px;
border-radius: 8px;
text-align: center;
margin: auto;
display: flex;
}

.input {
  box-sizing: border-box;
  text-align: center;
 flex-grow: 0.25;
 border-radius: 8px;
 width: 350px;
 height: 35px;
 margin: auto;
}
